$green-primary-color:(
  50 : #e0e9e8,
    100 : #b3c9c6,
    200 : #80a5a0,
    300 : #4d8179,
    400 : #26665d,
    500 : #004b40,
    600 : #00443a,
    700 : #003b32,
    800 : #00332a,
    900 : #00231c,
    A100 : #5fffd3,
    A200 : #2cffc5,
    A400 : #00f8b4,
    A700 : #00dfa2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$green-accent-color:(
  50 : #fafffb,
  100 : #f2fef4,
  200 : #e9feed,
  300 : #e0fde5,
  400 : #d9fce0,
  500 : #d2fcda,
  600 : #cdfcd6,
  700 : #c7fbd0,
  800 : #c1fbcb,
  900 : #b6fac2,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$green-warn-color:(
  50 : #e4fde0,
    100 : #bcf9b3,
    200 : #8ff580,
    300 : #62f14d,
    400 : #40ee26,
    500 : #1eeb00,
    600 : #1ae900,
    700 : #16e500,
    800 : #12e200,
    900 : #0add00,
    A100 : #ffffff,
    A200 : #d2ffd1,
    A400 : #9fff9e,
    A700 : #86ff85,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
