<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="center center">
    <img src="assets/images/dashboard.png" width="100">
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>

  </div>
  <span *ngIf="!isMobile">BACKOFFICE</span>
  <button mat-icon-button >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="container" autosize>
  <mat-drawer  #drawer class="container__sidenav" [mode]="isMobile?'over':'side'" [opened]="isMobile?false:true">

    <div class="container__profile">
    </div>
    <div class="container__name__user">
      <img src="assets/images/user.png">
    </div>
    <app-list-items></app-list-items>





  </mat-drawer>

  <div class="container__content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
