@use "variables/colors/green-coink" as *;
@import "theme/overrides/table";
.container {
  height: 100%;
  overflow: hidden;
  position: relative;
  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $base-color-green;
  }
  h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.815);
  }
  &:first-child div {
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  button {
    width: 150px;
    padding: 7px;
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    background-color: $base-color-green;
  }
  &__table {
    width: 100%;
    position: relative;
    min-height: 300px;
    max-height: 500px;
    overflow: auto;
  }

  table {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    &__table {
      max-height: 300px;
    }

  }
}
