@use "variables/colors/green-coink" as *;

@mixin sideRight {
  &__right {
    form {
      width: 300px;
      height: 100%;
      input {
        width: 300px;
        border: none;
        outline: none;
        font-family: "Avenir";
        font-weight: 400;
        color: #212121;
      }
      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin: 0 0 0 0;
        accent-color: $base-color;
        color: white;
      }

      .invalid {
        background-color: #d3d3d3;
        color: rgba(0, 51, 54, 0.438);
        font-family: "Avenir";
        pointer-events: none;
      }
    }

    h3 {
      font-family: "Montserrat";
      font-weight: bold;
      color: $base-color;
      font-size: 16px;
    }
    label {
      font-family: "Avenir";
      font-weight: 500;
      color: $base-color-light;
      font-size: 12px;
      margin-bottom: 5px;
    }
    width: 100%;
    height: 100%;
    padding: 30px;
    color: $base-color-light;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    &--register span:last-child {
      color: $base-color;
      font-weight: 600;
    }
    &--button {
      background-color: rgba(0, 51, 54, 1);
      width: 200px;
      border-radius: 20px;
      margin: 30px 0 30px 0;
      transition: all 0.3s ease-in-out;
    }
    &--forgot {
      font-family: "Montserrat";
      font-weight: 600;
      color: $base-color;
    }
    &--remember {
      border: none;
      font-family: "Montserrat";
      font-weight: 600;
      color: $base-color;
    }
    &--remember-text {
      font-family: "Montserrat";
      font-weight: 600;
      color: #004b40;
    }
    &--field {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &--boxfield {
      width: 300px;
      padding: 8px;
      border-radius: 8px;
      border: 0.2px solid #80808073;
      position: relative;

      img {
        position: absolute;
        right: 0;
        height: 23px;
        top: 6px;
        outline: none;
      }
    }
  }
}
